{% extends 'base.html' %}

{% block 'title' %}
privacy
{% endblock %}

{% block 'content' %}
<div class="min-h-screen flex flex-col justify-center text-left">
  <h1 class="xl:text-2xl lg:text-2xl md:text-xl sm:text-lg text-lg font-bold capitalize mb-4">[ privacy policy ]</h1>
  <p class="xl:text-lg lg:text-lg md:text-sm sm:text-sm font-medium mb-4">Welcome to UDo. Your privacy is important to us, and we are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your data when you use our platform.</p>
</div>
{% endblock %}
