{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="">
    <div class="">
      <h1 class="">subject : {% block subject %}{% endblock %}</h1>
      <p class="">{% block description %}{% endblock %}</p>
      <a href="{% block link %}{% endblock %}" class="btn">{% block btn-name %}{% endblock %} </a>
    </div>
  </body>
</html>
